* {
    background-color: beige;
    color: rgb(0, 145, 255); 
    text-align: center; 
}
span { font-size: large;
    color: rgb(168, 47, 47);
    width: 1000px;
    padding: 40px 40px 40px 40px
    } 
    /*
    le dimos importancia a que todo sea distinto
    */
h1{
      font-family: 'Roboto', sans-serif;
      border: 1px solid black;
       padding-top: 3px;
       padding-bottom: 5px;
       margin: 15px 20px 40px 40px;

        font-weight: bold;
        color: rebeccapurple;
    } 
section
 { width: 300px;
    border: 15px solid red;
    padding: 20px;
    margin: 10px;
}
p {
    color: rgb(0, 23, 128); text-align: center; font-weight: bold; margin-top: 20px;
}

#botón {border: solid purple;
padding-top: 5px;
padding-bottom: 5px;
margin: 40px 40px 40px 40px}

#botón2 {border: solid purple;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 40px 40px 40px 40px}

  h3 {    font-family: 'Roboto', sans-serif;
   padding-top: 3px;
   padding-bottom: 5px;
   margin: 15px 20px 20px 20px;

    font-weight: bold;
    color: rebeccapurple;}

    footer { margin-bottom: 10px; margin-top: 20px;font-size: medium;}